<!DOCTYPE html>
<html ng-app="angularRails" ng-strict-di>
<head>
  <title>angularRails</title>
  
  <%= stylesheet_link_tag    'application', media: 'all'%>
<!--   <base href="/"> -->
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
     <ul class="right">
      <li ><a class="button tiny" href="/weight_posts/new">New Weight post</a></li>
       <li><a href="/weight_posts">View All</a></li>
    </ul> 

   
  </section>
</nav>
  
  
  
<%= yield %>
 
  <%= javascript_include_tag 'application' %>
</body>
</html>
